.ad {
    height: auto;
    background-color: #fff;
    margin-top: 20px;
}

.ad_header {
    padding-left: 10px;
    border-bottom: #CDCDCD solid 1px;
}

.ad_header_span {
    color: #000;
    font-size: 16px;
    line-height: 40px;
}

.ad_ul {

}

.ad_ul_li {

}
