{
    "presets": [
      [
          "@babel/preset-env", {
              "targets": {
                  "node": "current"
              }
          }
      ],
      "react-app"
    ],
    "plugins": [
      [
        "@babel/plugin-proposal-decorators",  // 这是用来使用修饰器的配置引入@babel/plugin-proposal-decorators
        {
          "legacy": true
        }
      ]
    ]
}