.show {
    opacity: 1;
    transition: all 6s ease-in;
}

.hide {
    animation: hide_item 6s ease-in forwards;
}

@keyframes show_item {
    0% {
        opacity: 0;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: yellow;
    }
    100% {
        opacity: 1;
        color: blue;
    }
}

@keyframes hide_item {
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: yellow;
    }
    100% {
        opacity: 0;
        color: blue;
    }
}
